<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Billing App</title>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css">

    <!-- Custom fonts for this template -->
    <link th:href="@{/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template -->
    <link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link th:href="@{/vendor/datatables/buttons.bootstrap4.css}" rel="stylesheet">
    <link th:href="@{/vendor/datatables/datatables.css}" rel="stylesheet">
    <style>
        .fade-out {
          animation: fadeOut 1s forwards;
        }

        @keyframes fadeOut {
          from {
            opacity: 1;
          }
          to {
            opacity: 0;
            display: none;
          }
        }
        .gold-icon {
            color: gold;
        }
        .silver-icon {
            color: silver;
        }
.dt-buttons {
        float: right !important;
        margin-bottom: 0.5rem !important;
        }
    </style>
<!--    <title>Redirecting...</title>-->
<!--    <script>-->
<!--        window.onload = function() {-->
<!--            // Get the current URL-->
<!--            var currentUrl = window.location.href;-->

<!--            // Open the current URL in a popup window-->
<!--            window.open(currentUrl, "_blank", "width=800,height=600,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no");-->

<!--            window.close(); // Close the current window-->
<!--        };-->
<!--    </script>-->
</head>
<body id="page-top">
    <div id="wrapper">
        <!--sidebar.html  that's here  -->
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div id="content-wrapper" class="d-flex flex-column page-content">
            <!-- Main Content -->
            <div id="content">
                <div th:replace="~{fragments/toolbar :: toolbar}"></div>
                <div id="alert" style="width: 98%; margin-left: 10px;"></div>
                <div layout:fragment="content"></div>
                <input type="hidden" name="loadMenu" id="loadMenu">
            </div>
            <!-- End of Main Content -->
            <div th:replace="~{fragments/footer :: footer}"></div>
        </div>
    </div>



    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel"></h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="sourceId">
                    <input type="hidden" id="source">
                    <div id="myModalPlaceHolder"></div>
                </div>
                <div class="modal-footer">
<!--                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>-->
<!--                    <a class="btn btn-primary" th:href="@{/logout}">Logout</a>-->
                </div>
            </div>
        </div>
    </div>
<!--    <div class="d-flex justify-content-center">-->
<!--        <div class="spinner-grow" role="status">-->
<!--            <span class="sr-only">Loading...</span>-->
<!--        </div>-->
<!--    </div>-->
    <div id="spinner-div" class="pt-5">
        <div class="spinner-grow text-primary" role="status">
        </div>
    </div>


    <!-- Bootstrap core JavaScript-->
    <script th:src="@{/vendor/jquery/jquery.min.js}"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

    <!-- Core plugin JavaScript-->
    <script th:src="@{/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script th:src="@{/js/sb-admin-2.min.js}"></script>

    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

    <script th:src="@{/vendor/datatables/dataTables.buttons.js}"></script>
    <script th:src="@{/vendor/datatables/buttons.bootstrap4.js}"></script>
    <script th:src="@{/vendor/datatables/jszip.min.js}"></script>
    <script th:src="@{/vendor/datatables/pdfmake.min.js}"></script>

    <script th:src="@{/vendor/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/vendor/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/vendor/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/vendor/datatables/buttons.colVis.min.js}"></script>




    <!-- Page level custom scripts -->
    <script th:src="@{/js/demo/datatables-demo.js}"></script>
    <script th:src="@{/js/common/app.js}"></script>
    <th:block layout:fragment="script"></th:block>
</body>
</html>