<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sale</title>
</head>

<!-- Begin Page Content -->
<div layout:fragment="content" class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Payments</h6>
        </div>
        <div class="card-header py-3">
            <table class="table table-bordered" id="paymentsTable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Payment Date</th>
                    <th>Mode</th>
                    <th>Paid</th>
                    <th>Received By</th>
                </tr>
                </thead>
            </table>
        </div>

    </div>
    <input type="hidden" id="menuItem" name="menuItem" th:value="${source eq 'Sales' ? 'salesPayment' : 'purchasePayment'}">
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/gld/payment/payment-list.js}"></script>
</th:block>
</html>