<!--<!DOCTYPE HTML>-->
<!--<html xmlns:layout="http://www.w3.org/1999/xhtml"-->
<!--      layout:decorate="~{layout/modal-layout}"-->
<!--      xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>:: Payments List ::</title>-->
<!--</head>-->
<!--<div layout:fragment="content" class="p-0">-->
<!--    ++++++++++++++++++++++++++-->
<!--    <table class="table table-bordered" id="paymentsTable">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>ID</th>-->
<!--            <th>Payment Date</th>-->
<!--            <th>Mode</th>-->
<!--            <th>Paid</th>-->
<!--            <th>Received By</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--    </table>-->
<!--</div>-->
<!--<th:block layout:fragment="script">-->
<!--    <script th:src="@{/js/gld/sale/payment.js}"></script>-->
<!--</th:block>-->
<!--</html>-->