<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/home}">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">GBS Retail <sup>1</sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item">
<!--        <a class="nav-link" href="index.html">-->
<!--            <i class="fas fa-fw fa-tachometer-alt"></i>-->
<!--            <span>Dashboard</span></a>-->
        <a class="nav-link" th:href="@{/home}">
            <i class="fas fa-fw fa-home-alt"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Application
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#purchaseSec"
           aria-expanded="true" aria-controls="purchaseSec">
            <i class="fa-solid fa-cart-arrow-down"></i>
            <span>Purchases</span>
        </a>
        <div id="purchaseSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6>
                <a class="collapse-item" id="newSupplier" th:href="@{/supplier}">Supplier</a>
                <a class="collapse-item" id="supplierList" th:href="@{/supplier/supplier-list}">Supplier list</a>
                <a class="collapse-item" id="newPurchase" th:href="@{/purchase}">Purchase</a>
                <a class="collapse-item" id="purchaseList" th:href="@{/purchase/purchase-list}">Purchase list</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#estimationSec"
           aria-expanded="true" aria-controls="estimationSec">
            <i class="fa-solid fa-scale-balanced"></i>
            <span>Estimation</span>
        </a>
        <div id="estimationSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6>
                <a class="collapse-item" id="newEstimation" th:href="@{/estimation}">New Estimation</a>
                <a class="collapse-item" id="estimationList" th:href="@{/estimation/list}">Estimation list</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#saleSec"
           aria-expanded="true" aria-controls="saleSec">
            <i class="fa-solid fa-money-check"></i>
            <span>Sales</span>
        </a>
        <div id="saleSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6>
                <a class="collapse-item" id="newCustomer" th:href="@{/customer}">Customer</a>
                <a class="collapse-item" id="customerList" th:href="@{/customer/customer-list}">Customer list</a>
                <a class="collapse-item" id="salesList" th:href="@{/sale/list}">All Sales</a>
                <a class="collapse-item" id="newSale" th:href="@{/sale}">Sale</a>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#orderSec"
           aria-expanded="true" aria-controls="orderSec">
            <i class="fa-brands fa-first-order-alt"></i>
            <span>Orders</span>
        </a>
        <div id="orderSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6>
                <a class="collapse-item" id="newWorker" th:href="@{/supplier}">New Worker</a>
                <a class="collapse-item" id="workerList" th:href="@{/purchase}">Worker list</a>
                <a class="collapse-item" id="orderList" th:href="@{/purchase}">Order list</a>
                <a class="collapse-item" id="newOrder" th:href="@{/purchase}">New Order</a>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#paymentSec"
           aria-expanded="true" aria-controls="paymentSec">
            <i class="fa-solid fa-coins"></i>
            <span>Payments</span>
        </a>
        <div id="paymentSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Add Payment For:</h6>
                <a class="collapse-item" id="salesPayment" th:href="@{/payment/sales}">Sales</a>
                <a class="collapse-item" id="purchasePayment" th:href="@{/payment/purchases}">Purchases</a>
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Settings
    </div>

    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#settingsSec"
           aria-expanded="true" aria-controls="settingsSec">
            <i class="fa-solid fa-screwdriver-wrench"></i>
            <span>Settings</span>
        </a>
        <div id="settingsSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6><a class="collapse-item" th:href="@{/metal-rate}">Rate</a>
                <a class="collapse-item" id="permissionGroupList" th:href="@{/permission-groups/list}">Permission Groups</a>
                <a class="collapse-item" id="permissionList" th:href="@{/permissions/list}">Permissions</a>
                <a class="collapse-item" id="roles" th:href="@{/roles}">Roles</a>
                <a class="collapse-item" th:href="@{/}">Users</a>
                <a class="collapse-item" th:href="@{/application-settings}">Business Settings</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Reports
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#reportsSec"
           aria-expanded="true" aria-controls="reportsSec">
            <i class="fa-solid fa-file-circle-check"></i>
            <span>Reports</span>
        </a>
        <div id="reportsSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6>
                <a class="collapse-item" id="purchaseRpt" th:href="@{/reports/purchase}">Purchase</a>
                <a class="collapse-item" id="purchaseRptGst" th:href="@{/reports/purchase-gst}">Purchase-GST</a>
                <a class="collapse-item" id="saleRpt" th:href="@{/reports/sale}">Sale</a>
                <a class="collapse-item" id="saleRptGst" th:href="@{/reports/sale-gst}">Sale-GST</a>
                <a class="collapse-item" id="todoRpt" th:href="@{/todo}">Suppliers</a>
            </div>
        </div>
    </li>

    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Graphical Presentation
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#plSec"
           aria-expanded="true" aria-controls="plSec">
            <i class="fa-solid fa-cash-register"></i>
            <span>Charts</span>
        </a>
        <div id="plSec" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Page Options:</h6>
                <a class="collapse-item" id="purchaseChart" th:href="@{/graph/purchases}">Purchases</a>
                <a class="collapse-item" id="saleChart" th:href="@{/graph/sales}">Sales</a>
            </div>
        </div>
    </li>

    <!-- Nav Item - Pages Collapse Menu -->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"-->
<!--           aria-expanded="true" aria-controls="collapsePages">-->
<!--            <i class="fas fa-fw fa-folder"></i>-->
<!--            <span>Pages</span>-->
<!--        </a>-->
<!--        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">-->
<!--            <div class="bg-white py-2 collapse-inner rounded">-->
<!--                <h6 class="collapse-header">Login Screens:</h6>-->
<!--                <a class="collapse-item" href="login.html">Login</a>-->
<!--                <a class="collapse-item" href="register.html">Register</a>-->
<!--                <a class="collapse-item" href="forgot-password.html">Forgot Password</a>-->
<!--                <div class="collapse-divider"></div>-->
<!--                <h6 class="collapse-header">Other Pages:</h6>-->
<!--                <a class="collapse-item" href="404.html">404 Page</a>-->
<!--                <a class="collapse-item" href="blank.html">Blank Page</a>-->
<!--            </div>-->
<!--        </div>-->
<!--    </li>-->

    <!-- Nav Item - Charts -->
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="charts.html">-->
<!--            <i class="fas fa-fw fa-chart-area"></i>-->
<!--            <span>Charts</span></a>-->
<!--    </li>-->

<!--    &lt;!&ndash; Nav Item - Tables &ndash;&gt;-->
<!--    <li class="nav-item active">-->
<!--        <a class="nav-link" href="tables.html">-->
<!--            <i class="fas fa-fw fa-table"></i>-->
<!--            <span>Tables</span></a>-->
<!--    </li>-->

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->
</div>
</html>