<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div th:fragment="toolbar">
<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <form class="form-inline">
        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
        </button>
    </form>

    <!-- Topbar Search -->
<!--    <form-->
<!--            class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">-->
<!--        <div class="input-group">-->
<!--            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for :)"-->
<!--                   aria-label="Search" aria-describedby="basic-addon2">-->
<!--            <div class="input-group-append">-->
<!--                <button class="btn btn-primary" type="button">-->
<!--                    <i class="fas fa-search fa-sm"></i>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </form>-->
    <div class="row" style="width: 1500px">
        <div class="col-xl-2 col-md-4 p-0">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body pt-0 pb-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gold 24Ct (₹)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentGold24CtRate">6540.00</div>
                        </div>
                        <div class="col-auto">
                            <a href="#" id="editGoldRate" data-name="GOLD" sec:authorize="hasAuthority('Edit_Rate')" ><i class="fas fa-edit fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 p-0 ml-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body pt-0 pb-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Gold 22 Ct (₹)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentGold22CtRate">6540.00</div>
                        </div>
                        <div class="col-auto">
                            <a href="#" id="editGold22CtRate" data-name="GOLD22CT" sec:authorize="hasAuthority('Edit_Rate')"><i class="fas fa-edit fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-2 col-md-4 p-0 ml-4">
            <div class="card border-left-dark shadow h-100 py-2">
                <div class="card-body pt-0 pb-0">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">Silver(₹)</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800" id="currentSilverRate">6540.00</div>
                        </div>
                        <div class="col-auto">
                            <a href="#" id="editSilverRate" data-name="SILVER" sec:authorize="hasAuthority('Edit_Rate')"><i class="fas fa-edit fa-2x text-gray-300"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        <span class="m-0 font-weight-bold text-primary pr-4 col"><i class="fa-solid fa-rug silver-icon"></i> Silver (₹): <h6 id="currentSilverRate" style="display: inline"  th:text="${currentSilverRate}"></h6></span>-->
<!--        <span class="m-0 font-weight-bold text-primary pr-4 col"> <i class="fa-solid fa-rug gold-icon"></i> Gold (₹): <h6 id="currentGold24CtRate" style="display: inline" th:text="${currentGold24CtRate}"></h6></span>-->
    </div>
    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">

        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
        <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                 aria-labelledby="searchDropdown">
<!--                <form class="form-inline mr-auto w-100 navbar-search">-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control bg-light border-0 small"-->
<!--                               placeholder="Search for :)" aria-label="Search"-->
<!--                               aria-describedby="basic-addon2">-->
<!--                        <div class="input-group-append">-->
<!--                            <button class="btn btn-primary" type="button">-->
<!--                                <i class="fas fa-search fa-sm"></i>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
            </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small" sec:authentication="name"></span>
                <img class="img-profile rounded-circle"
                     th:src="@{/img/undraw_profile.svg}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                 aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                    Settings
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                    Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->
</div>
</html>