<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>:: Customer ::</title>
</head>
<div layout:fragment="content" class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;">Customer</h6>
        </div>


    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/gld/customer/customer.js}"></script>
</th:block>
</html>