<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Customer Management</title>
</head>

<!-- Begin Page Content -->
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Customer</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3"></div>
        <div class="card-body">
            <div style="padding-left: 100px; padding-right: 100px;">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Add New Customer</h1>
                            </div>
                            <div th:if="${param.success}">
                                <div class="alert alert-info">
                                    Customer successfully added.
                                </div>
                            </div>

                            <div th:if="${errorResponse != null && errorResponse.hasErrors()}">
                                <ul>
                                    <div class="alert alert-danger">
                                        <li th:each="error : ${errorResponse.errors}" th:text="${error.description}"></li>
                                    </div>
                                </ul>
                            </div>
                            <form class="user" method="post"
                                  id="customerForm"
                                  role="form"
                                  th:action="@{/customers/save}"
                                  th:object="${customer}">

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="firstName"
                                               name="firstName"
                                               placeholder="Enter first name"
                                               th:field="*{firstName}">
                                        <p th:errors="*{firstName}" class="text-danger"
                                           th:if="${#fields.hasErrors('firstName')}"></p>
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="lastName"
                                               name="lastName"
                                               placeholder="Enter last name"
                                               th:field="*{lastName}">
                                        <p th:errors="*{lastName}" class="text-danger"
                                           th:if="${#fields.hasErrors('lastName')}"></p>
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="phone"
                                               name="phone"
                                               placeholder="Enter phone"
                                               th:field="*{phone}">
                                        <p th:errors="*{phone}" class="text-danger"
                                           th:if="${#fields.hasErrors('phone')}"></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="street"
                                               name="street"
                                               placeholder="Enter street"
                                               th:field="*{address.street}">
                                        <p th:errors="*{address.street}" class="text-danger"
                                           th:if="${#fields.hasErrors('address.street')}"></p>
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="city"
                                               name="city"
                                               placeholder="Enter city"
                                               th:field="*{address.city}">
                                        <p th:errors="*{address.city}" class="text-danger"
                                           th:if="${#fields.hasErrors('address.city')}"></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="state"
                                               name="state"
                                               placeholder="Enter state"
                                               th:field="*{address.state}">
                                        <p th:errors="*{address.state}" class="text-danger"
                                           th:if="${#fields.hasErrors('address.state')}"></p>
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="zipCode"
                                               name="zipCode"
                                               placeholder="Enter zip code"
                                               th:field="*{address.zipCode}">
                                        <p th:errors="*{address.zipCode}" class="text-danger"
                                           th:if="${#fields.hasErrors('address.zipCode')}"></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-2 mb-sm-0 text-right">
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Save</button>
                                    </div>
                                    <div class="col-sm-6 mb-2 mb-sm-0 text-right">
                                        <button class="btn btn-danger btn-user btn-block" type="button" id="cancelBtn">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Customer List</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>City</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Phone</th>
                        <th>City</th>
                    </tr>
                    </tfoot>
                    <tbody>
                    <tr th:each = "customer : ${customerList}">
                        <td th:text = "${customer.firstName}"></td>
                        <td th:text = "${customer.lastName}"></td>
                        <td th:text = "${customer.phone}"></td>
                        <td th:text = "${customer.address.city}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>
