<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout/layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estimation</title>
</head>

<!-- Begin Page Content -->
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Estimation</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex flex-row-reverse">
                <h6 class="m-0 font-weight-bold text-primary pr-4" th:text="'SILVER: ' + ${currentSilverRate}" ></h6>
                <h6 class="m-0 font-weight-bold text-primary pr-4" th:text="'GOLD: ' + ${currentGoldRate}" ></h6>
            </div>

        </div>
        <div class="card-body">
            <div style="padding-left: 100px; padding-right: 100px;">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">New Estimation</h1>
                            </div>
                            <div th:if="${param.success}">
                                <div class="alert alert-info">
                                    Estimation calculated  successfully.
                                </div>
                            </div>

                            <div th:if="${errorResponse != null && errorResponse.hasErrors()}">
                                <ul>
                                    <div class="alert alert-danger">
                                        <li th:each="error : ${errorResponse.errors}" th:text="${error.description}"></li>
                                    </div>
                                </ul>
                            </div>
                            <form class="user" method="post"
                                  id="estimationForm"
                                  role="form"
                                  th:action="@{/estimation/estimate}"
                                  th:object="${estimation}">

                                <div class="form-group row">
                                    <div class="col mb-sm-0">
                                        <div class="custom-control" style="display: flex">
                                            <input type="hidden" id="id" th:field="*{id}">
                                            <input type="hidden" id="estimationNo" th:field="*{estimationNo}">
<!--                                            <input type="hidden" id="goldRate" th:field="*{goldRate}">-->
<!--                                            <input type="hidden" id="silverRate" th:field="*{silverRate}">-->
                                            <input type="hidden" id="rate" th:field="*{rate}">
                                            <input type="hidden" id="estimationDateTs" name="estimationDateTs" th:value="${#temporals.format(estimation.estimationDateTs, 'yyyy-MM-dd''T''HH:mm:ss')}">

                                            <input type="hidden" id="itemMasterId" th:field="*{itemMasterId}">
                                            <input type="hidden" id="vaPrice" th:field="*{vaPrice}">
                                            <input type="hidden" id="stonePrice" th:field="*{stonePrice}">
                                            <input type="hidden" id="netWeight" th:field="*{netWeight}">
                                            <input type="hidden" id="netWeightPrice" th:field="*{netWeightPrice}">
                                            <input type="hidden" id="defaultMcEnabled" th:field="*{defaultMcEnabled}">
<!--                                            <input type="hidden" id="isGstEstimation" th:field="*{isGstEstimation}">-->
                                            <input type="hidden" id="cGstPercentage" th:field="*{cGstPercentage}">
                                            <input type="hidden" id="sGstPercentage" th:field="*{sGstPercentage}">
                                            <input type="hidden" id="sGstPrice" th:field="*{sGstPrice}">
                                            <input type="hidden" id="cGstPrice" th:field="*{cGstPrice}">
                                            <input type="hidden" id="totalPriceInclVa" th:field="*{totalPriceInclVa}">
                                            <input type="hidden" id="totalPriceInclStn" th:field="*{totalPriceInclStn}">
                                            <input type="hidden" id="totalPriceInclMc" th:field="*{totalPriceInclMc}">
                                            <input type="hidden" id="totalPriceInclGst" th:field="*{totalPriceInclGst}">
                                            <input type="hidden" id="discount" th:field="*{discount}">
                                            <input type="hidden" id="totalPrice" th:field="*{totalPrice}">
                                            <input type="hidden" id="grandTotalAfterDiscount" th:field="*{grandTotalAfterDiscount}">
                                            <input type="hidden" id="weightInclVaWt" th:field="*{weightInclVaWt}">

                                            <label class="pr-5">Estimation for existing item? </label>
                                            <div class="custom-radio small">
                                                <input type="radio" class="custom-control-input existingItem" th:field="*{existingItem}" th:value="YES" id="yes" >
                                                <label class="custom-control-label pt-1" for="yes">YES</label>
                                            </div>
                                            <div class="custom-radio small pl-5">
                                                <input type="radio" class="custom-control-input existingItem" th:field="*{existingItem}" th:value="NO" id="no" >
                                                <label class="custom-control-label pt-1" for="no">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-sm-0">
                                        <div class="custom-control d-flex">
                                            <label class="pr-5">GST? </label>
                                            <div class="custom-radio small">
                                                <input type="radio" class="custom-control-input enableGst" th:field="*{isGstEstimation}" th:value="YES" id="gstYes" >
                                                <label class="custom-control-label pt-1" for="gstYes">YES</label>
                                            </div>
                                            <div class="custom-radio small pl-5">
                                                <input type="radio" class="custom-control-input enableGst" th:field="*{isGstEstimation}" th:value="NO" id="gstNo" >
                                                <label class="custom-control-label pt-1" for="gstNo">NO</label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col mb-sm-0 d-none" id="itemTagNoId">
                                        <input class="form-control form-control-user" id="tagNo"
                                               name="tagNo"
                                               placeholder="Enter item tag number."
                                               th:field="*{tagNo}"
                                               type="text">
                                        <p th:errors = "*{tagNo}" class="text-danger"
                                           th:if="${#fields.hasErrors('tagNo')}"></p>
                                    </div>
                                </div>

                                <div id="itemContent" class="d-none">
                                <div class="form-group row">
                                    <div class="col mb-sm-0">
                                        <div class="custom-control" style="display: flex">
                                            <div class="custom-radio small">
                                                <input type="radio" class="custom-control-input" th:field="*{itemMetal}" th:value="GOLD" id="gold" >
                                                <label class="custom-control-label pt-1" for="gold">GOLD</label>
                                            </div>
                                            <div class="custom-radio small pl-5">
                                                <input type="radio" class="custom-control-input" th:field="*{itemMetal}" th:value="SILVER" id="silver" >
                                                <label class="custom-control-label pt-1" for="silver">SILVER</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="itemName"
                                               name="itemName"
                                               placeholder="Item name"
                                               th:field="*{itemName}">
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="itemCode"
                                               placeholder="Item Code"
                                               name="itemCode"
                                               th:field="*{itemCode}">
                                    </div>

                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="pcs"
                                               name="pcs"
                                               placeholder="Enter no of pieces"
                                               th:field="*{pcs}"
                                               type="text">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="itemWeight"
                                               name="itemWeight"
                                               placeholder="Enter gross weight"
                                               th:field="*{itemWeight}"
                                               type="text">
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="vaPercentage"
                                               name="vaPercentage"
                                               placeholder="Enter VA %"
                                               th:field="*{vaPercentage}"
                                               type="text">
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="vaWeight"
                                               name="vaPercentage"
                                               placeholder="Enter VA weight"
                                               th:field="*{vaWeight}"
                                               type="text">
                                    </div>
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="wastageInGms"-->
<!--                                               name="wastageInGms"-->
<!--                                               placeholder="Enter wastage in grams"-->
<!--                                               th:field="*{wastageInGms}"-->
<!--                                               type="text">-->
<!--                                        <p th:errors = "*{wastageInGms}" class="text-danger"-->
<!--                                           th:if="${#fields.hasErrors('wastageInGms')}"></p>-->
<!--                                    </div>-->
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="mc"
                                               name="pcs"
                                               placeholder="Enter Making charge"
                                               th:field="*{mc}"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="stoneName"
                                               name="stoneName"
                                               placeholder="Enter Stones Type"
                                               th:field="*{stoneName}"
                                               type="text">
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="stoneWeight"
                                               name="stoneWeight"
                                               placeholder="Enter Stone Weight"
                                               th:field="*{stoneWeight}"
                                               type="text">
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="stoneWtInCts"
                                               name="stoneWtInCts"
                                               placeholder="Enter Stone Weight in Cts"
                                               th:field="*{stoneWtInCts}"
                                               type="text">
                                    </div>
                                    <div class="col-sm-3 mb-2 mb-sm-0">
                                        <input class="form-control form-control-user"
                                               id="stonePricePerCt"
                                               name="stonePricePerCt"
                                               placeholder="Stone price per ct."
                                               th:field="*{stonePricePerCt}"
                                               type="text">
                                    </div>
                                </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-2 mb-sm-0 text-right">
                                        <button class="btn btn-primary btn-user btn-block" type="submit">Estimate</button>
                                    </div>
                                    <div class="col-sm-6 mb-2 mb-sm-0 text-right">
                                        <button class="btn btn-danger btn-user btn-block" type="button" id="cancelBtn">Cancel</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-4">
        <div class="card-body">
            <div style="padding-left: 100px; padding-right: 100px;">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4" th:text="'Estimation# ' + ${estimation.estimationNo}"></h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-end pr-0">
                        <label>Date :</label>
                    </div>
                    <div class="col text-start">
                        <span th:text="${#temporals.format(estimation.estimationDateTs, 'yyyy-MM-dd HH:mm')}"/>
                    </div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                </div>
                <div class="row">
                    <div class="col text-end pr-0">
                        <label>Existing item :</label>
                    </div>
                    <div class="col text-start">
                        <label th:text="${estimation.existingItem}"></label>
                    </div>
                    <div class="col text-end pr-0">
                        <label>Metal :</label>
                    </div>
                    <div class="col text-start">
                        <label th:text="${estimation.itemMetal}"></label>
                    </div>
                    <div class="col text-end pr-0">
                        <label>Rate :</label>
                    </div>
                    <div class="col text-start">
                        <label th:text="${estimation.rate}"></label>
                    </div>
                </div>
<hr/>
                <div class="row">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0 text-end">No. Pcs. :</div>
                    <div class="col pr-0">
                        <label th:text="${estimation.pcs}"></label>
                    </div>
                    <div class="col text-end pr-0">
                        <label>Weight :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Gr. ' + ${estimation.itemWeight} + ' mg.'"></label>
                    </div>
                </div>
                <div class="row"  th:if="${estimation.stoneWeight != null}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Stone Wt. :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'- Gr. ' + ${estimation.stoneWeight} + ' mg.'"></label>
                    </div>
                </div>
                <hr th:if="${estimation.stoneWeight != null}"/>
                <div class="row" th:if="${estimation.stoneWeight != null}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Net Wt. :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Gr. ' + ${estimation.netWeight} + ' mg.'"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>VA (Tarugu) :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Gr. ' + ${estimation.vaWeight} + ' mg.'"></label>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Total Wt. :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Gr. ' + ${estimation.weightInclVaWt} + ' mg.'"></label>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Price. :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.totalPriceInclVa}"></label>
                    </div>
                </div>

                <div class="row" th:if="${estimation.stoneWeight != null}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Stones Wt in Cts. :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="${estimation.stoneWtInCts} + ' Cts'"></label>
                    </div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                </div>
                <div class="row" th:if="${estimation.stoneWeight != null}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Stones rate per Ct. :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.stonePricePerCt}"></label>
                    </div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                </div>

                <div class="row" th:if="${estimation.stoneWeight != null}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0 text-end">
                        <label>Stones cost :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.stonePrice}"></label>
                    </div>
                    <div class="col pr-0"></div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.stonePrice}"></label>
                    </div>
                </div>


                <div class="row">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Making Charge :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.mc}"></label>
                    </div>
                </div>
                <hr/>
                <div class="row" th:if="${estimation.isGstEstimation eq 'YES'}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>Total :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.totalPriceInclMc}"></label>
                    </div>
                </div>
                <div class="row" th:if="${estimation.isGstEstimation eq 'YES'}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>CGST(1.5%) :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.cGstPrice}"></label>
                    </div>
                </div>
                <div class="row" th:if="${estimation.isGstEstimation eq 'YES'}">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0">
                        <label>SGST(1.5%) :</label>
                    </div>
                    <div class="col text-end">
                        <label th:text="'Rs. ' + ${estimation.sGstPrice}"></label>
                    </div>
                </div>
                <hr th:if="${estimation.isGstEstimation eq 'YES'}"/>
                <div class="row">
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col pr-0"></div>
                    <div class="col text-end pr-0 bg-light">
                        <label>Total :</label>
                    </div>
                    <div class="col text-end bg-light">
                        <label th:text="'Rs. ' + ${estimation.totalPrice}"></label>
                    </div>
                </div>
                <div class="row pt-4">
                    <div class="col pr-0"></div>
                    <div class="col pr-0 text-center">
                        <button class="btn btn-primary" id="saveEstimation" type="submit">Save</button>
                        <button class="btn btn-primary" id="printEstimation" type="submit">Print</button>
                        <button class="btn btn-primary" id="saveAndPrintEstimation" type="submit">Save & Print</button>
                    </div>
                    <div class="col pr-0"></div>
                </div>
            </div>
        </div>
    </div>

</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/estimation.js}"></script>
</th:block>
</html>
