<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Estimation</title>
</head>

<!-- Begin Page Content -->
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Estimation</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex flex-row-reverse">
                <h6 class="m-0 font-weight-bold text-primary pr-4" th:text="'SILVER: ' + ${currentSilverRate}" ></h6>
                <h6 class="m-0 font-weight-bold text-primary pr-4" th:text="'GOLD: ' + ${currentGoldRate}" ></h6>
            </div>

        </div>
        <div class="card-body">
            <div style="padding-left: 100px; padding-right: 100px;">
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4" th:text="'Estimation# '+ ${estimation.estimationNo}"></h1>
                            </div>

<!--                            <form class="user" method="post"-->
<!--                                  id="itemForm"-->
<!--                                  role="form"-->
<!--                                  th:action="@{/estimation/estimate}"-->
<!--                                  th:object="${estimation}">-->

<!--                                <div class="form-group row">-->
<!--                                    <div class="col mb-sm-0">-->
<!--                                        <div class="custom-control" style="display: flex">-->
<!--                                            <input type="hidden" id="id" th:field="*{id}">-->
<!--                                            <input type="hidden" id="estimationNo" th:field="*{estimationNo}">-->
<!--                                            <input type="hidden" id="goldRate" th:field="*{goldRate}">-->
<!--                                            <input type="hidden" id="silverRate" th:field="*{silverRate}">-->
<!--                                            <input type="hidden" id="estimationDateTs" th:field="*{estimationDateTs}">-->
<!--                                            <input type="hidden" id="itemMasterId" th:field="*{itemMasterId}">-->
<!--                                            <input type="hidden" id="vaPrice" th:field="*{vaPrice}">-->
<!--                                            <input type="hidden" id="stonePrice" th:field="*{stonePrice}">-->
<!--                                            <input type="hidden" id="netWeight" th:field="*{netWeight}">-->
<!--                                            <input type="hidden" id="netWeightPrice" th:field="*{netWeightPrice}">-->
<!--                                            <input type="hidden" id="defaultMcEnabled" th:field="*{defaultMcEnabled}">-->
<!--                                            <input type="hidden" id="isGstEstimation" th:field="*{isGstEstimation}">-->
<!--                                            <input type="hidden" id="cGstPercentage" th:field="*{cGstPercentage}">-->
<!--                                            <input type="hidden" id="sGstPercentage" th:field="*{sGstPercentage}">-->
<!--                                            <input type="hidden" id="sGstPrice" th:field="*{sGstPrice}">-->
<!--                                            <input type="hidden" id="cGstPrice" th:field="*{cGstPrice}">-->
<!--                                            <input type="hidden" id="totalPriceInclVa" th:field="*{totalPriceInclVa}">-->
<!--                                            <input type="hidden" id="totalPriceInclStn" th:field="*{totalPriceInclStn}">-->
<!--                                            <input type="hidden" id="totalPriceInclMc" th:field="*{totalPriceInclMc}">-->
<!--                                            <input type="hidden" id="totalPriceInclGst" th:field="*{totalPriceInclGst}">-->
<!--                                            <input type="hidden" id="discount" th:field="*{discount}">-->
<!--                                            <input type="hidden" id="totalPrice" th:field="*{totalPrice}">-->
<!--                                            <input type="hidden" id="grandTotalAfterDiscount" th:field="*{grandTotalAfterDiscount}">-->


<!--                                            <label class="pr-5">Estimation for existing item? </label>-->
<!--                                            <div class="custom-radio small">-->
<!--                                                <input type="radio" class="custom-control-input existingItem" th:field="*{existingItem}" th:value="YES" id="yes" >-->
<!--                                                <label class="custom-control-label pt-1" for="yes">YES</label>-->
<!--                                            </div>-->
<!--                                            <div class="custom-radio small pl-5">-->
<!--                                                <input type="radio" class="custom-control-input existingItem" th:field="*{existingItem}" th:value="NO" id="no" >-->
<!--                                                <label class="custom-control-label pt-1" for="no">NO</label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                    <div class="col mb-sm-0 d-none" id="itemTagNoId">-->
<!--                                        <input class="form-control form-control-user" id="itemTagNo"-->
<!--                                               name="itemTagNo"-->
<!--                                               placeholder="Enter item tag number."-->
<!--                                               th:field="*{itemTagNo}"-->
<!--                                               type="text">-->
<!--                                        <p th:errors = "*{itemTagNo}" class="text-danger"-->
<!--                                           th:if="${#fields.hasErrors('itemTagNo')}"></p>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div id="itemContent" class="d-none">-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col mb-sm-0">-->
<!--                                        <div class="custom-control" style="display: flex">-->
<!--                                            <div class="custom-radio small">-->
<!--                                                <input type="radio" class="custom-control-input" th:field="*{itemMetal}" th:value="GOLD" id="gold" >-->
<!--                                                <label class="custom-control-label pt-1" for="gold">GOLD</label>-->
<!--                                            </div>-->
<!--                                            <div class="custom-radio small pl-5">-->
<!--                                                <input type="radio" class="custom-control-input" th:field="*{itemMetal}" th:value="SILVER" id="silver" >-->
<!--                                                <label class="custom-control-label pt-1" for="silver">SILVER</label>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input type="text" class="form-control form-control-user" id="itemName"-->
<!--                                               name="itemName"-->
<!--                                               placeholder="Item name"-->
<!--                                               th:field="*{itemName}">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input type="text" class="form-control form-control-user" id="itemCode"-->
<!--                                               placeholder="Item Code"-->
<!--                                               name="itemCode"-->
<!--                                               th:field="*{itemCode}">-->
<!--                                    </div>-->

<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user" id="tagNo"-->
<!--                                               name="tagNo"-->
<!--                                               placeholder="Tag number"-->
<!--                                               th:field="*{tagNo}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="pcs"-->
<!--                                               name="pcs"-->
<!--                                               placeholder="Enter no of pieces"-->
<!--                                               th:field="*{pcs}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="itemWeight"-->
<!--                                               name="itemWeight"-->
<!--                                               placeholder="Enter gross weight"-->
<!--                                               th:field="*{itemWeight}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="vaPercentage"-->
<!--                                               name="vaPercentage"-->
<!--                                               placeholder="Enter VA %"-->
<!--                                               th:field="*{vaPercentage}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="vaWeight"-->
<!--                                               name="vaPercentage"-->
<!--                                               placeholder="Enter VA weight"-->
<!--                                               th:field="*{vaWeight}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--&lt;!&ndash;                                    <div class="col-sm-3 mb-2 mb-sm-0">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <input class="form-control form-control-user"&ndash;&gt;-->
<!--&lt;!&ndash;                                               id="wastageInGms"&ndash;&gt;-->
<!--&lt;!&ndash;                                               name="wastageInGms"&ndash;&gt;-->
<!--&lt;!&ndash;                                               placeholder="Enter wastage in grams"&ndash;&gt;-->
<!--&lt;!&ndash;                                               th:field="*{wastageInGms}"&ndash;&gt;-->
<!--&lt;!&ndash;                                               type="text">&ndash;&gt;-->
<!--&lt;!&ndash;                                        <p th:errors = "*{wastageInGms}" class="text-danger"&ndash;&gt;-->
<!--&lt;!&ndash;                                           th:if="${#fields.hasErrors('wastageInGms')}"></p>&ndash;&gt;-->
<!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="mc"-->
<!--                                               name="pcs"-->
<!--                                               placeholder="Enter Making charge"-->
<!--                                               th:field="*{mc}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="stoneName"-->
<!--                                               name="stoneName"-->
<!--                                               placeholder="Enter Stones Type"-->
<!--                                               th:field="*{stoneName}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="stoneWeight"-->
<!--                                               name="stoneWeight"-->
<!--                                               placeholder="Enter Stone Weight"-->
<!--                                               th:field="*{stoneWeight}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="stoneWtInCts"-->
<!--                                               name="stoneWtInCts"-->
<!--                                               placeholder="Enter Stone Weight in Cts"-->
<!--                                               th:field="*{stoneWtInCts}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-3 mb-2 mb-sm-0">-->
<!--                                        <input class="form-control form-control-user"-->
<!--                                               id="stonePricePerCt"-->
<!--                                               name="stonePricePerCt"-->
<!--                                               placeholder="Stone price per ct."-->
<!--                                               th:field="*{stonePricePerCt}"-->
<!--                                               type="text">-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                </div>-->
<!--                                <div class="form-group row">-->
<!--                                    <div class="col-sm-6 mb-2 mb-sm-0 text-right">-->
<!--                                        <button class="btn btn-primary btn-user btn-block" type="submit">Estimate</button>-->
<!--                                    </div>-->
<!--                                    <div class="col-sm-6 mb-2 mb-sm-0 text-right">-->
<!--                                        <button class="btn btn-danger btn-user btn-block" type="button" id="cancelBtn">Cancel</button>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </form>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/estimation.js}"></script>
</th:block>
</html>
