<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Purchase Items</title>
</head>

<!-- Begin Page Content -->
<div layout:fragment="content" class="container-fluid">
    <!-- Page Heading -->
    <div class="card shadow mb-4">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary" style="display: inline-block;" th:text="${purchase.id gt 0 ? 'Total weight: ' + purchase.grossWeight + ' No. of Pcs: ' + purchase.pcs : 'New Purchase'}">-</h6>
            <a class="backToPurchase" th:attr="data-id=${purchase.id}" href="/purchase" title="Back to Purchases"><i class="fa-solid fa-arrow-left"></i></a>
        </div>
        <div class="card-body">
            <div class="row" th:if="${(param.success != null) || (errorResponse != null && errorResponse.hasErrors())}">
                <div class="col">
                    <div class="p-5">
                        <div th:if="${param.success}">
                            <div class="alert alert-info">
                                Purchase saved successfully.
                            </div>
                        </div>
                        <div th:if="${errorResponse != null && errorResponse.hasErrors()}">
                            <ul>
                                <div class="alert alert-danger">
                                    <li th:each="error : ${errorResponse.errors}" th:text="${error.description}"></li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="py-3 d-flex justify-content-between align-items-center">
                <label class="m-0 font-weight-bold text-primary">Purchase Weight: </label>
                <div class="m-0 font-weight-bold bg-primary text-white" th:text="${purchase.grossWeight}" id="purchaseWeight"></div>
                <label class="m-0 font-weight-bold text-primary">   Purchase Items Weight: </label>
                <div class="m-0 font-weight-bold text-primary" id="itemsWeight"></div>
            </div>

            <div class="row">
                <div class="col">
                    <form th:action="@{/purchase/items/saveItems}" th:object="${purchase}" method="post" id="purchaseForm">
                        <input type="hidden" id="id" th:field="*{id}">
                        <table class="table table-bordered" id="itemTable">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Code</th>
                                <th>Weight</th>
                                <th>VaWeight</th>
                                <th>Making Charge</th>
                                <th>Stn Weight</th>
                                <th>Stn Type</th>
                                <th>Stn Cost Per Ct</th>
                                <th>Pcs</th>
                                <th>Huid</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:if="${purchase.purchaseItems == null or #lists.isEmpty(purchase.purchaseItems)}">
                                <td>
                                    <input type="hidden" name="purchaseItems[0].id" class="form-control">
                                    <input type="text" name="purchaseItems[0].name" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].code" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].weight" class="form-control item-weight"></td>
                                <td><input type="text" name="purchaseItems[0].vaWeight" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].makingCharge" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].stnWeight" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].stnType" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].stnCostPerCt" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].pcs" class="form-control"></td>
                                <td><input type="text" name="purchaseItems[0].huid" class="form-control"></td>
                                <td><button type="button" class="btn btn-danger removeRow">Remove</button></td>
                            </tr>
                            <tr th:each="item, itemStat : ${purchase.purchaseItems}">
                                <td>
                                    <input type="hidden" th:field="*{purchaseItems[__${itemStat.index}__].id}" class="form-control">
                                    <input type="text" th:field="*{purchaseItems[__${itemStat.index}__].name}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].code}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].weight}" class="form-control item-weight"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].vaWeight}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].makingCharge}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].stnWeight}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].stnType}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].stnCostPerCt}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].pcs}" class="form-control"></td>
                                <td><input type="text" th:field="*{purchaseItems[__${itemStat.index}__].huid}" class="form-control"></td>
                                <td><button type="button" class="btn btn-danger removeRow">Remove</button></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="form-group row">
                            <div class="col-sm-6 mb-2 mb-sm-0 text-right">
                                <button class="btn btn-primary btn-user" type="submit" id="saveItems">Save Items</button>
                            </div>
                            <div class="col-sm-6 mb-2 mb-sm-0">
                                <button class="btn btn-primary btn-user" type="button" id="addRow">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>


        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:src="@{/js/purchaseItems.js}"></script>
</th:block>
</html>